@import 'components/components';

div.best-rates-container {
  height: 100%;
}

input.amount {
  height: 36px;
  width: 200px;
  border: 1px solid lightgray;
  display: block;
  font-weight: 300;
  font-size: 1em;
  color: $black;
  padding-left: 10px;
}

div.from-container {
  height: 90px;
  display: -webkit-flex;
  display: flex;
  flex-direction: left;
  flex-wrap: nowrap;
}

div.from-left {
  width: 250px;
}

div.from-right {
  width: 250px;
}

div.to-container {
  height: 80px;
}

div.select-asset-container {
  display: -webkit-flex;
  display: flex;
  flex-direction: left;
  flex-wrap: nowrap;
}

div.Select {
  width: 200px;
}

div.exchange-list {
  height: 400px;
  overflow: auto;
}

img.exchange-icon {
  max-height: 50px;
  max-width: 50px;
}

div.select-container {
  display: -webkit-flex;
  display: flex;
  flex-direction: left;
  flex-wrap: nowrap;
}
