@import 'components/components';

.price-positive {
  color: $green;
}

div.price-container {
  display: -webkit-flex;
  display: flex;                  /* establish flex container */
  flex-wrap: nowrap;              /* default value; can be omitted */
  align-items: center;
  justify-content: center;

}
