@import 'components/components';

input.address {
  height: 36px;
  width: 400px;
  border: 1px solid lightgray;
  display: block;
  font-weight: 300;
  font-size: 1em;
  color: $black;
  padding-left: 10px;
}

div.transaction {
  margin: 30px;
}
