@import 'components/components';

.react-grid-layout {
  display: flex;
  flex-flow: row; 
  flex-wrap: wrap;

  position: relative;
  transition: height 200ms ease;
}
  
.react-grid-item {
  background-color: $white;
  margin: 20px;
  transition: all 200ms ease;
  transition-property: left, top;
  padding: 4px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
